<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- <suite name="Test Suite" verbose="3" parallel = "tests"> -->
<suite name="TestNG Reports Generation" parallel="tests" thread-count="5">

	<test name="Test Case 1">
		<classes>
			<class name="myPack1.TC01" />
		</classes>
	</test>

	<test name="Test Case 2">

		<classes>
			<class name="myPack1.TC02" />
		</classes>
	</test>


</suite>